---
import { fetchConcertsData } from "../js/supabase_methods"
import Card from "./Card.astro"

const concertCardsData = await fetchConcertsData()
console.log("🎵 concertCardsData:", concertCardsData)
---

<div class="flex flex-wrap gap-8 justify-center items-center mt-20">
  {
    concertCardsData.length > 0
      ? concertCardsData.map((concertCard) => (
          <a href={`concerts/${concertCard.concert_slug}`}>
            <Card
              isConcertCard={true}
              src={`${concertCard.artist_image}.webp`}
              alt={concertCard.alt}
              artistNameText={concertCard.artist_name}
              genreText={concertCard.artist_genre}
            />
          </a>
        ))
      : "Ingen koncerter"
  }
</div>
